.object {
    height: 600px;
    width: 370px;
    border: 1px solid grey;
    border-radius: 30px;
    margin-top: 80px;
    margin-left: 180px;
    background-image: url(../assets/Bg-cards.png);
    background-size: cover;
}

.picture {
    background-image: url(../assets/Photo.jpg);
    background-size: cover;
    height: 300px;
    width: 320px;
    border-radius: 30px;
    margin-left: 12px;
    margin-top: 25px;
}

.object h2 {
     color: white;
     margin-left: 88px;
     margin-top: 20px;
}

.object h5 {
    color: rgba(255, 255, 255, 0.534);
    font-size: 17px;
    margin-left: 122px;
    font-weight: 350;
    margin-top: 8px;
}

.social {
    height: 100px;
    width: 280px;
    margin-left: 30px;
    margin-top: 30px;
    display: flex;
}

.circle8 {
    background-image: url(../assets/Linked-in.png);
    background-size: 90% 90%;
    background-position: center;
    height: 55px;
    width: 55px;
    border: 1px solid grey;
    border-radius: 50%;
    margin-left: 12px;
}

.circle9 {
    background-image: url(../assets/Twitter.png);
    background-size: 130% 130%;
    background-position: center;
    height: 55px;
    width: 55px;
    border: 1px solid grey;
    border-radius: 50%;
    margin-left: 10px;
}

.circle10 {
    background-image: url(../assets/mail.png);
    background-size: 150% 150%;
    background-position: center;
    height: 55px;
    width: 55px;
    border: 1px solid grey;
    border-radius: 50%;
    margin-left: 10px;
}

.circle11 {
    background-image: url(../assets/Instagram.png);
    background-size: 145% 100%;
    background-position: center;
    height: 55px;
    width: 55px;
    border: 1px solid grey;
    border-radius: 50%;
    margin-left: 10px;
}

.btn2 {
    height: 40px;
    width: 290px;
    margin-left: 24px;
    border-radius: 10px;
    border: 1px solid rgba(128, 128, 128, 0);
    margin-top: -50px;
    background-color: rgba(128, 128, 128, 0.237);
    color: white;
    font-weight: 800px;
}