.Description {
    height: 1650px;
    width: 700px;
    margin-top: -600px;
    margin-left: 605px;
}

.Description h3 {
    font-size: 20px;
    color: white;
    font-weight: 500;
    margin-top: 5px;
}

.Description .pera1 {
    color: rgba(255, 255, 255, 0.797);
    margin-top: 40px;
    font-size: 16px;
    font-weight: 600;
}

.Description .pera2 {
    color: rgba(255, 255, 255, 0.797);
    margin-top: 40px;
    font-size: 16px;
    font-weight: 600;
}

.Description h4 {
    font-size: 20px;
    color: white;
    font-weight: 500;
    margin-top: 80px;
}

.Description h5 {
    font-size: 18px;
    color: rgba(255, 255, 255, 0.386);
    font-weight: 500;
    margin-top: 20px;
}

.Description .tag {
    font-size: 18px;
    color: rgb(0, 114, 245);
    font-weight: 500;
    margin-top: 5px;
}

.Description .infotech {
    font-size: 15px;
    color: rgba(255, 255, 255, 0.386);
    font-weight: 500;
    margin-top: 5px;
}

.Description .pera3 {
    color: rgba(255, 255, 255, 0.797);
    margin-top: 10px;
    font-size: 16px;
    font-weight: 600;
}

.Description .jully {
    font-size: 18px;
    color: rgba(255, 255, 255, 0.386);
    font-weight: 500;
    margin-top: 50px;
}

.Description .head {
    font-size: 18px;
    color: rgba(255, 255, 255, 0.386);
    font-weight: 500;
    margin-top: 50px;
}

.percent11 {
    color: rgba(255, 255, 255, 0.573);
    font-weight: 600;
    margin-top: 20px;
}

.percent1 {
    color: rgba(255, 255, 255, 0.573);
    font-weight: 600;
    margin-top: 25px;
}

.MDB1 {
    color: rgba(255, 255, 255, 0.82);
    margin-top: -12px;
    font-size: 18px;
}

.MDB2 {
    color: rgba(255, 255, 255, 0.573);
    font-size: 14px;
    font-weight: 400;
    margin-top: -8px;
}

.halfskills {
    height: 260px;
    width: 250px;
    margin-left: 1000px;
    margin-top: -270px;
}

.percent22 {
    color: rgba(255, 255, 255, 0.573);
    font-weight: 600;
    margin-top: 21px;
}

.percent2 {
    color: rgba(255, 255, 255, 0.573);
    font-weight: 600;
    margin-top: 29px;
}

.React1 {
    color: rgba(255, 255, 255, 0.82);
    margin-top: -12px;
    font-size: 18px;
}

.React2 {
    color: rgba(255, 255, 255, 0.573);
    font-size: 14px;
    font-weight: 400;
    margin-top: -8px;
}

.temprory {
    height: 10px;
}